button{
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    width: 200px;
    cursor: pointer;
    transform: skew(-21deg);
    span{
        display:inline-block;
        transform: skew(21deg);
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        left: 0;
        background: #000;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s;
    }
    &:hover{
        color: #fff;
        &:before{
            left:0;
            right:0;
            opacity: 1;
        }

    }
}